<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Directives + Components</title>
  <link rel="stylesheet" href="/dist/css/style.css">
  <!-- livereload browser if dev -->
  <script src="//localhost:35729/livereload.js"></script>
</head>

<body>
  <h1>Demo Checkout page via Vuejs</h1>

  <div id="app">
    <div class="main">
      <div class="step">
        <div class="number">1</div>
        <div class="name">Shipping address</div>
        <div class="content">
          <div v-if="editAddress">
            <label>Address:</label> <br>
            <input type="text" v-model="address"> <br>
            <label>State:</label> <br>
            <input type="text" v-model="state"> <br>
            <label>Zipcode:</label> <br>
            <input type="text" v-model="zipcode"> <br>
          </div>
          <div v-else>
            <!-- add some filters -->
            {{address | uppercase}} <br>
            {{state | uppercase}} {{zipcode}}, USA
          </div>

          <button v-if="!editAddress" v-on:click="editAddress = !editAddress">Change</button>
          <button v-else v-on:click="editAddress = !editAddress">Save</button>
        </div>
      </div>
      <div class="step">
        <div class="number">2</div>
        <div class="name">Payment method</div>
        <div class="content">
          <div v-if="editPayment">
            <label>Card Number:</label> <br>
            <input type="text" v-model="cardnumber"> <br>            
          </div>
          <div v-else>VISA ending in {{cardnumber | last4digit}}</div>
          <strong>Billing address:</strong> {{billingAddress | uppercase}}
          <button v-if="!editPayment" v-on:click="editPayment = !editPayment">Change</button>
          <button v-else v-on:click="editPayment = !editPayment">Save</button>
        </div>
      </div>
      <div class="step">
        <div class="number">3</div>
        <div class="name">Review items</div>
        <div style="clear: both"></div>
        <div class="content-lg">
          <!-- v-for and components -->
          <!-- pass properties to components -->
          <order-item v-for="item of items" :key="item.id" :item="item" v-on:decrease="decreaseNumber" v-on:increase="increaseNumber"></order-item>
        </div>

        <div class="total">
          <button class="submit-btn">Place your order</button>
          <span class="total-number">Order total: ${{totalCostWithTax}}</span>
        </div>
      </div>
    </div>
    <!-- another component -->
    <!-- pass properties to components -->
    <my-sidebar :items="items" :tax="tax" :total-cost-no-tax="totalCostNoTax" :total-cost-with-tax="totalCostWithTax"></my-sidebar>
  </div>


  <!-- <img src="amazon-checkout.png" alt=""> -->
  <div style="clear: both;"></div>
  <footer style="margin-top: 200px; text-align: center;"><a href="/">Return to homepage</a></footer>


  <script type="x-template" id="item-template">
    <div class="item-body">
      <div class="image">
      <img v-bind:src="item.imgUrl" alt="item image" width="100px"/>
      </div>
      <div class="item-content">
        <h4>{{item.name}}</h4>
        <p class="seller">Sold by {{item.seller}}</p>
        <p class="price">Price: ${{item.price}}</p> 
        <div><strong>Quantity:</strong>
          <div class="quantity-group">
            <button v-on:click="decrease">-</button>
            <span>{{item.number}}</span>
            <button v-on:click="increase">+</button>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="x-template" id="sidebar-template">
    <div class="sidebar">
      <button class="submit-btn">Place your order</button>
      <hr>
      <h4>Order Summary</h4>
      <dl>
        <dt>Items ({{itemNumber}}):</dt>
        <dd>${{totalCostNoTax}}</dd>
        <dt>Shipping & handling:</dt>
        <dd>$0.00</dd>
        <div class="divider"></div>
        <dt>Total before tax:</dt>
        <dd>${{totalCostNoTax}}</dd>
        <dt>Estimated tax to be collected:</dt>
        <dd>${{tax}}</dd>
        <hr>
        <div class="total-number">
          <dt>Order total: </dt>
          <dd>${{totalCostWithTax}}</dd>
        </div>
      </dl>
    </div>
  </script>
  

  <!-- include scripts at the bottom of body -->
  <!-- include vue.js via CDN -->
  <script src="https://unpkg.com/vue"></script>
  <script src="src/js/index.js"></script>
</body>

</html>