$bluegrey: #2B3A42;
$amazonRed: #a82f0b;
$amazonYellow: #ebcd5c;

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  margin: 10px 10% 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495e;
}

body a {
  color: #42b983;
  font-weight: 600;
}

// pre {
//   padding-top: 20px;
//   padding-bottom: 0px;
//   // background: $bluegrey url('code.png') no-repeat center center / 32px 32px;
//   background: $bluegrey;
//   color: #dedede;
//   text-shadow: 0 1px 1px rgba(#000, .5);
// }

pre {
  margin: 0px;
}
pre.code-area {
  margin-top: 10px;
  margin-bottom: -70px;
}

ol {
  li {
    padding: 5px 0px;
  }
}

input {
  font-family: Helvetica;
  font-size: 20px;
  padding-left: 5px;
}

h1 {
  color: #483d8b;
  border-bottom: 2px solid #aaa;
  padding-bottom: 15px;
}

.page-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  padding-top: 30px;
}

.counter-group {
  button {
    font-size: 18px;
    height: 29px;
    width: 29px;
  }
  input {
    width: 30px;
  }
}

.main {
  float: left;
  width: 69%;

  .step {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid 1px #ddd;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
    &:last-child {
      border: none;
    }
  }

  .number, .name {
    font-weight: bold;
    float: left;
  }
  .number {
    width: 5%;
  }
  .name {
    width: 30%;
  }
  .content {
    float: left;
    width: 65%;
    position: relative;
    font-family: serif;

    input {
      font-size: 14px;
    }

    button {
      padding: 1px 20px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .content-lg {
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid #ddd;
    padding: 10px;
  }

}

.item-body {
  display: block;
  font-family: Arial !important;
  font-size: 14px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  h4, p {
    padding-top: 5px;
    margin: 0px;
  }

  .image {
    float: left;
  }
  .seller {
    color: #888;
  }
  .price {
    color: $amazonRed;
    font-weight: bold;
  }
  .item-content {
    float: left;
    margin-left: 20px;
  }
  .quantity-group {
    display: inline-block;
  }
}

.total {
  margin-top: 10px;
  margin-left: 20px;
  border: 1px solid #ddd;
  padding: 10px;

  .total-number {
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    display: inline-block;
    color: $amazonRed;
    font-weight: bold;
  }
}
.submit-btn {
  padding: 5px 30px;
  background: $amazonYellow;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid gray;
  font-family: 'Helvetica Neue';
  font-weight: bold;
}

.sidebar {
  float: left;
  font-size: 13px;
  width: 26%;
  margin-left: 1%;
  border: 1px solid #ddd;
  padding: 10px 15px;

  button {
    width: 180px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .divider {
    width: 80px;
    border-bottom: 1px solid #ddd;
    float: right;
  }

  dt {
    display: block;
    padding-bottom: 5px;
  }
  dd {
    display: block;
    margin-top: -18px;
    float: right;
  }
  .total-number {
    color: $amazonRed;
    font-weight: bold;
  }
}