<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basic Example 1</title>
  <link rel="stylesheet" href="/dist/css/style.css">
  <!-- livereload browser if dev -->
  <script src="//localhost:35729/livereload.js"></script>
</head>
<body>

  <h1>Vuejs Directives</h1>

  <p>All directives of vuejs start with "v-", such as v-if, v-for, v-model, v-on, v-bind, and so on.</p>

  <h2>0. Data binding from js, without directives</h2>
  <div id="app">
    {{ message }}
  </div>

  <h2>1. Data binding through "v-model"</h2>
  <div id="app-2">
    <p>You entered: {{ message }}</p>
    <input v-model="message">
  </div>

  <h2>2. Data binding plus computed property</h2>
  <div id="app-3">
    <p>You entered: {{ message }}</p>
    <p>Computed: {{ reversedMessage }}</p>
    <input v-model="message">
    <p>Note: computed property is very useful since it will keep up to date with relevant data. It's also very efficient when more than one data is involved, because it will only up</p>
  </div>
  <pre>
    <p>You entered: {{ message }}</p>
    <p>Computed: {{ reversedMessage }}</p>
  </pre>

  <h2>3. Data binding with method</h2>
  <div id="app-4">
    <p>You entered: {{ message }}, computed: {{ reverseMessage() }}</p>
    <input v-model="message">
  </div>
  <pre>
  <code>
    <p>You entered: {{ message }}, computed: {{ reverseMessage() }}</p>
  </code>
  </pre>

  <!-- include scripts at the bottom of body -->
  <!-- include vue.js via CDN -->
  <script src="https://unpkg.com/vue"></script>
  <script src="index.js"></script>
</body>
</html>